.app{
    background-color: white;
    max-width: 1440px;
}
.listings-container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
    width: 100%;
    max-width: 1440px;
    
    margin: 0 auto;
  }