.Listing {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 20px;
  border: 10px solid black;
  
  
  display: flex;
  gap: 20px; 

}
.Listing ul{
  align-self: flex-start;
  padding: 10px;
  
}

.image-container {
  width: 300px; 
  height: 200px;
  margin-top: 30px;
}

.image-container img {
  width: 100%;
  height: 100%;
}